<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wonday</title>
    <meta name="description" content="Full-stack web app clone of Monday.com built by Kira Porter (kierxin) using JavaScript (ES6, React, Redux) and Rails">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Wonday" />
    <meta property='og:image' content="<%= image_url('screenshot.png') %>"/>
    <meta property="og:description"
      content="Full-stack web app clone of Monday.com built by Kira Porter (kierxin) using JavaScript (ES6, React, Redux) and Rails"
    />
    <meta property="og:url"
      content="https://wonday-clone-of-monday.herokuapp.com/"
    />

    <script src="https://kit.fontawesome.com/3acb25e6d0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.wLogo = "<%= image_url('wonday-logo.png') %>";
      window.rightSideTemp = "<%= image_url('right-side-temp.png') %>";
      window.wLogoSmall = "<%= image_url('wonday-logo-small.png') %>";
      window.boards = "<%= image_url('boards.png') %>";
      window.github = "<%= image_url('github.png') %>";
      window.angellist = "<%= image_url('angellist.png') %>";
      window.linkedin = "<%= image_url('linkedin.png') %>";
      window.portfolio = "<%= image_url('portfolio.png') %>";
      window.invite = "<%= image_url('invite.png') %>";
      window.closeModal = "<%= image_url('x.png') %>";
      window.options = "<%= image_url('three-dots.png') %>";
      window.person = "<%= image_url('person.png') %>";
    </script>
    
    <link rel="shortcut icon" type="image/jpg" href="<%= image_url('wonday-logo.png') %>" />

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>