<!DOCTYPE html>
<html>
  <head>
    <title>Wonday</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3acb25e6d0.js" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">

    <script type="text/javascript">
      window.wLogo = "<%= image_url('wonday-logo.png') %>";
      window.rightSideTemp = "<%= image_url('right-side-temp.png') %>";
      window.wLogoSmall = "<%= image_url('wonday-logo-small.png') %>";
      window.boards = "<%= image_url('cat.png') %>";
      window.github = "<%= image_url('cat.png') %>";
      window.angellist = "<%= image_url('cat.png') %>";
      window.linkedin = "<%= image_url('cat.png') %>";
      window.portfolio = "<%= image_url('cat.png') %>";
      window.invite = "<%= image_url('cat.png') %>";
      window.closeModal = "<%= image_url('cat.png') %>";
      window.options = "<%= image_url('three-dots.png') %>";
      window.person = "<%= image_url('person.png') %>";
    </script>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>